<mat-toolbar class="navbar">
    <div>
        <h2 style="color: black;" >Hunger End</h2>
    </div>
    <div class="toolbar">
        <span>
            <button mat-button class="quickView" (click)='authService.logOutuser()'><i class="fa fa-user" ></i>Log Out</button>
        </span>
    </div>
</mat-toolbar>
<div class="bgImage">
    <div  *ngIf="!empty" >
        <h1>{{errorMessage}}</h1>
        <button class='buttons quickView' mat-raised-button (click)='redirectToRestuarants()'>Go To Restaurants</button>
    </div>
    
    <div *ngIf="empty" class="tableValues">
        <h1>{{name}}  <button  style="float: right;" class="quickView" mat-raised-button (click)='removeCart()'>Delete Cart</button> </h1>
        <table class="table table-striped table-secondary table-warning">
            <thead>
                <th>Food Name</th>
                <th>Price</th>
                <th>Count</th>
                <th>Individual Amount</th>
            </thead>
            <tbody *ngFor="let item of cartItems">
                <td>{{item.foodName}}</td>
                <td>{{item.price}}</td>
                <td><button mat-raised-button [disabled]='!item.count' (click)='decrementQuantity(item)'> - </button>  {{item.count}}  <button mat-raised-button (click)='incrementQuantity(item)'> + </button></td>
                <td>{{item.amount}}</td>
            </tbody>
        </table>
        <h1>Cart Items</h1>
        <table class ="col-sm-6 table table-striped table-bordered table-success"> 
            <thead>
                <th>No.Of.Items</th>
                <th>Total Amount</th>    
            </thead>
            <tbody>
                <td>{{count}}</td>
                <td>{{totalAmount}}</td>
            </tbody>
        </table>
        <button mat-raised-button [disabled]='!count'  (click)='placeOrder()' class="quickView">Place Order</button>
    </div>
</div>