<h2>List Of Restaurants</h2>
<div class="tableValues">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>About</th>
              <th>Location</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
         <tbody >
            <tr *ngFor="let item of itemArray">
              <td>{{item.name}}</td>
              <td>{{item.about}}</td>
              <td>{{item.location}}</td>
              <td><button mat-raised-button class="quickView" (click)='individualRestuaratnt(item)'>View Items</button></td>
              <td><button mat-raised-button class="quickView" (click)='editItems(item)'>Edit Items</button></td>
              <td><button mat-raised-button class="quickView" (click)='deleteRestuarant(item)'>Remove Restaurant</button></td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button class="quickView" (click)='addRestuarants()'>Add Restaurants</button>
</div>